<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--CONEXION A SQL SERVER EXPRESS-->
	<connectionStrings>
  <add name="Conexion" connectionString="Data Source=localhost;Initial Catalog=Tienda;Persist Security Info=True;User ID=sa;Password=PasswordO1." />
  <add name="CapaPresentacion.Properties.Settings.TiendaConnectionString"
   connectionString="Data Source=(local);Initial Catalog=Tienda;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>